<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" >

<head>

    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link
            href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap">

    <title>Product Detail Page</title>


    <!-- Additional JavaScript Files -->
    <script th:src="@{/assets/js/angular.min.js}"></script>
    <script src="/assets/js/shopping-cart.js"></script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/font-awesome.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/templatemo-hexashop.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/owl-carousel.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/lightbox.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/assets/css/style.css}">
</head>

<body ng-app="app" ng-controller="ctrl">

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->



<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/home/index}" class="logo">
                        <img th:src="@{/assets/images/logo.png}" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a th:href="@{/home/index}" class="active">Home</a></li>
                        <li class="scroll-to-section"><a th:href="@{/product/men}">Men's</a></li>
                        <li class="scroll-to-section"><a th:href="@{/product/woman}">Women's</a></li>
                        <li class="scroll-to-section"><a th:href="@{/product/kids}">Kid's</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a th:href="@{/other/about}">About Us</a></li>
                                <li><a th:href="@{/product/list}">Products</a></li>
                                <li><a th:href="@{/product/single-product.html}">Single Product</a></li>
                                <li><a th:href="@{/other/contact}">Contact Us</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Features</a>
                            <ul>
                                <li><a href="#">Features Page 1</a></li>
                                <li><a href="#">Features Page 2</a></li>
                                <li><a href="#">Features Page 3</a></li>
                                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#explore">Explore</a></li>
                        <li><a th:href="@{/cart/view}"><img
                                th:src="@{|/assets/images/bag.png|}">
                            {{cart.count}}
                        </a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content" th:object="${product}">
                    <h2>Product Detail</h2>
                    <span>Product Detail : [[*{productName}]]</span>
                    <span>Quantity: [[*{quantity}]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Product Area Starts ***** -->
<section class="section" id="product" th:object="${product}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="left-images">
                            <img th:src="@{|/assets/images/*{image}|}" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-content">
                            <h4>[[*{productName}]]</h4>
                            <span class="price">$ [[*{price}]]</span>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                            <span>Product decription</span>
                            <div class="quote">
                                <i class="fa fa-quote-left"></i>
                                <p>Product decription</p>
                            </div>
                            <div class="quantity-content">
                                <div class="left-content">
                                    <h6></h6>
                                </div>
                                <div class="right-content">
                                    <div class="quantity buttons_added">

                                    </div>
                                </div>
                            </div>
                            <div class="total">
                                <h4></h4>
                                <div class="main-border-button">
                                    <button th:attr="ng-click=@{|cart.add(*{id})|}">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <section class="section" id="men">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="section-heading">
                                    <h2>Similar Products</h2>
                                    <span>We have related products here !</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="men-item-carousel">
                                    <div class="owl-men-item owl-carousel">
                                        <div class="item" th:each="p:*{category.productList}">
                                            <div class="thumb">
                                                <div class="hover-content">
                                                    <ul>
                                                        <li><a th:href="@{|/product/detail/${p.id}|}"><i
                                                                class="fa fa-eye"></i></a></li>
                                                        <li><a href="single-product.html"><i
                                                                class="fa fa-star"></i></a></li>
                                                        <li><a th:attr="ng-click=@{|cart.add(${p.id})|}"><i
                                                                class="fa fa-shopping-cart"></i></a></li>
<!--                                                        <li><a><i-->
<!--                                                                class="fa fa-shopping-cart"></i></a></li>-->
                                                    </ul>
                                                </div>
                                                <img th:src="@{|/assets/images/${p.image}|}" alt="">
                                            </div>
                                            <div class="down-content">
                                                <h4>[[${p.productName}]]</h4>
                                                <span>[[${p.price}]]</span>
                                                <span>Quantity: [[${p.quantity}]]</span>
                                                <ul class="stars">
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- ***** Product Area Ends ***** -->

<!-- ***** Footer Start ***** -->
<!--<footer th:replace="/layout/_footer.html"></footer>-->
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img th:src="@{/assets/images/white-logo.png}" alt="hexashop ecommerce templatemo">
                    </div>
                    <ul>
                        <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
                        <li><a href="#">hexashop@company.com</a></li>
                        <li><a href="#">010-020-0340</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Shopping &amp; Categories</h4>
                <ul>
                    <li><a href="#">Men’s Shopping</a></li>
                    <li><a href="#">Women’s Shopping</a></li>
                    <li><a href="#">Kid's Shopping</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Homepage</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Help &amp; Information</h4>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">FAQ's</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Tracking ID</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                        <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script th:src="@{/assets/js/jquery-2.1.0.min.js}"></script>
<!-- Bootstrap -->
<script th:src="@{/assets/js/popper.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Plugins -->
<script th:src="@{/assets/js/owl-carousel.js}"></script>
<script th:src="@{/assets/js/accordions.js}"></script>
<script th:src="@{/assets/js/datepicker.js}"></script>
<script th:src="@{/assets/js/scrollreveal.min.js}"></script>
<script th:src="@{/assets/js/waypoints.min.js}"></script>
<script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/assets/js/imgfix.min.js}"></script>
<script th:src="@{/assets/js/slick.js}"></script>
<script th:src="@{/assets/js/lightbox.js}"></script>
<script th:src="@{/assets/js/isotope.js}"></script>
<script th:src="@{/assets/js/quantity.js}"></script>
<!-- Global Init -->
<script th:src="@{/assets/js/custom.js}"></script>

<script>
    $(function () {
        var selectedClass = "";
        $("p").click(function () {
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
            $("#portfolio div").not("." + selectedClass).fadeOut();
            setTimeout(function () {
                $("." + selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
            }, 500);
        });
    });
</script>
</body>

</html>
